@model IEnumerable<TdtBaiKiemTraGK.Models.Khoa>

@{
    ViewBag.Title = "TdtIndex";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "TdtCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenKH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenKH)
        </td>
        <td>
            @Html.ActionLink("Tdt: Edit", "TdtEdit", new { id=item.MaKH }) |
            @Html.ActionLink("Tdt: Details", "TdtDetails", new { id=item.MaKH }) |
            @Html.ActionLink("Tdt: Delete", "TdtDelete", new { id=item.MaKH })
        </td>
    </tr>
}

</table>
